<%= form_for(@collection, remote: :true) do |f| %>
  <h4>Create Collection</h4>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Collection Name' %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
