<%= form_for(@team, :html => {:multipart => true}) do |f| %>
  <%= f.hidden_field :owner_id, value: current_user.id %>
  <%= f.hidden_field :picture_cache %>

  <div class="form-group">
    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
    <%= f.error_span :name %>
  </div>
  <div class="form-group">
    <%= f.label :location, class: 'sr-only' %>
    <%= f.text_field :location, class: 'form-control', placeholder: 'Location' %>
    <%= f.error_span :location %>
  </div>
  <div class="form-group">
    <%= f.label :website, class: 'sr-only' %>
    <%= f.text_field :website, class: 'form-control', placeholder: 'Website' %>
    <%= f.error_span :website %>
  </div>
  <div class="form-group">
    <%= f.label :picture %>
    <div class="row">
      <%= f.file_field :picture, placeholder: 'Upload a picture', class: 'col-lg-3' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.text_field :remote_picture_url, placeholder: 'Remote Picture URL', class: 'form-control col-lg-8' %>
    <p class="help-block">Select a file to use as your team's picture, or input a url.</p>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
