<%= form_for(@comment) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :snippet_id, value: @snippet.id %>

  <div class="row">
    <div class="form-group col-lg-6">
      <%= f.label :body, class: "sr-only" %>
      <%= f.text_area :body, class: "form-control col-lg-6", placeholder: "Comment Body" %>
      <%= f.error_span :body %>
    </div>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
