<% if user_signed_in? %>
<div class="row">
  <div class="col-lg-12">
    <%= form_for(@snippet, :html => {class: ""}) do |f| %>
      <%= f.hidden_field :body %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div class="row">
        <div class="form-group col-lg-6">
          <%= f.label :title, class: "sr-only" %>
          <%= f.text_field :title, class: "form-control col-lg-6", placeholder: "Snippet Title" %>
          <%= f.error_span :title %>
        </div>
        <div class="form-group col-lg-2">
          <%= f.label :language, class: "sr-only" %>
          <%= f.text_field :language, class: "form-control col-lg-2", placeholder: "Language" %>
          <%= f.error_span :language %>
        </div>
        <div class="form-group col-lg-4">
          <%= f.label :tag_list, class: "sr-only" %>
          <%= f.text_field :tag_list, class: "form-control col-lg-4", placeholder: "Tags (Comma separated)" %>
        </div>
      </div>
      <div class="field">
        <div id="editor" style="width:100%;height:300px;"><%= @snippet.body %></div>
        <%= f.error_span :body %>
      </div>
      <div class="actions">
        <div class="row">
        <div class="form-group col-lg-4">
          <%= f.collection_select :team_id, current_user.teams, :id, :name, { include_blank: 'Team' }, { class: 'form-control' } %>
          <p class="help-block">
            Use this if you would like to associate this snippet with one of your teams.
          </p>
        </div>
        <div class="col-lg-8">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% end %>
