<style>
<%= Rouge::Theme.find('github').render(scope: '.highlight') %>
rder: solid 1px #ddd;
  background: #fff;
    padding: 0;
      line-height: 23px;
        margin-bottom: 30px;
          white-space: pre;
            overflow-x: auto;
              word-break: inherit;
                word-wrap: inherit;
                }

                .highlight td {
                      padding: 8px 15px;
                }

                .gl { 
                    background: #fafafa;
                      border-right: 1px solid #ddd;
                        color: #999;
                          
                          /* Stop line numbers being visually selected */
                          -webkit-touch-callout: none;
                            -webkit-user-select: none;
                              -khtml-user-select: none;
                                -moz-user-select: none;
                                  -ms-user-select: none;
                                    user-select: none;
                }
e
</style>
<p>
  <strong>Language:</strong>
  <%= @snippet.language %>
</p>

<p>
  <strong>Title:</strong>
  <%= @snippet.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= highlight @snippet.body, @snippet.language %>
</p>

<p>
  <strong>Num favorites:</strong>
  <%= @snippet.num_favorites %>
</p>

<p>
  <strong>Num views:</strong>
  <%= @snippet.num_views %>
</p>

<p>
  <strong>Num comments:</strong>
  <%= @snippet.num_comments %>
</p>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
