<style>
<%= Rouge::Theme.find('github').render(scope: '.highlight') %>
.highlight { background: white; border: 1px solid lightgrey; overflow-x: scroll; }
.highlight table td { padding: 0px; }
.code pre { background: none; }
</style>

<div class="row">
  <div class="col-lg-1 col-sm-2">
    <%= link_to image_tag(avatar_url(@snippet.user, 80), :class => "snippet-avatar", :size => 80), user_path(@snippet.user) %>
  </div>
  <div class="col-lg-11 col-sm-10">
    <h2><%= @snippet.title %><small>.<%= @snippet.language.downcase %></small></h2>
    <ul class="list-inline snippet-info">
      <li><%= glyph "time" %> <%= @snippet.created_at.to_formatted_s(:month_day_year) %></li>
      <li><%= glyph "eye-open" %> <%= pluralize @snippet.num_views, "view" %></li>
      <li><%= glyph "heart" %> <%= pluralize @snippet.num_favorites, "favorite" %></li>
      <li><a href="#comments"><%= glyph "comment" %> <%= pluralize @snippet.num_comments, "comment" %></a></li>
      <% if current_user == @snippet.user %>
      <li class="pull-right">
        <div class="dropdown pull-right">
          <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <%= glyph "cog" %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><%= link_to glyph("pencil") + " Edit", edit_snippet_path(@snippet) %></li>
            <li role="presentation"><%= link_to glyph("remove-sign") + " Delete (permanent)", snippet_path(@snippet), :method => :delete %></li>
          </ul>
        </div>
      </li>
      <% end %>
      <% if user_signed_in? %><li class="pull-right"><%= favorite_link @snippet %></li><% end %>
    </ul>
  </div>
</div>
<p class="snippet-body">
  <%= highlight @snippet.body, @snippet.language %>
</p>
<h4>
  <%= pluralize(@snippet.num_comments, "Comment") %>
  <% if user_signed_in? %><a href="#comment_form" class="pull-right small" data-toggle="collapse" data-target="#comment_form" aria-expanded="true" aria-controls="comment_form">Post a Comment <span class="caret"></span></a><% end %>
</h4>
<hr>
<% if user_signed_in? %>
  <div id="comment_form" class="collapse">
      <%= render :partial => "comments/form" %>
  </div>
<% end %>
<a id="comments">
<%= render @snippet.comments %>
