<div class="row">
  <div class="col-sm-2 col-lg-1">
    <%= image_tag(avatar_url(@user, 80), :class => "user-avatar", :size => 80) %>
  </div>
  <div class="col-sm-10 col-lg-11">
    <h2 class="username"><%= @user.username %></h2>
    <ul class="list-inline user-info">
      <li><%= glyph "file" %> <%= pluralize @user.snippets.count, "snippet" %></li>
      <li><%= glyph "heart" %> <%= pluralize @user.favorites.count, "favorite" %></li>
      <li><%= glyph "comment" %> <%= pluralize @user.comments.count, "comment" %></li>
      <li><%= glyph "folder-open" %> <%= pluralize @user.collections.count, "collection" %></li>
    </ul>
  </div>
</div>
<div class="content">
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#snippets" aria-controls="snippets" role="tab" data-toggle="tab">Snippets</a></li>
      <li role="presentation"><a href="#collections" aria-controls="collections" role="tab" data-toggle="tab">Collections</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane content active" id="snippets">
      <%= render @snippets %>
      <%= will_paginate @snippets, param_name: 's_page', page_links: false, renderer: BootstrapPagination::Rails %>
      </div>
      <div role="tabpanel" class="tab-pane content" id="collections">
        <%= render @collections %>
        <%= will_paginate @collections, param_name: 'c_page', page_links: false, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
